[submodule "src/robotpt-common-utils"]
	path = src/robotpt-common-utils
	url = https://github.com/robotpt/robotpt-common-utils
[submodule "src/pickle-database"]
	path = src/pickle-database
	url = https://github.com/robotpt/pickle-database
[submodule "src/interaction-engine"]
	path = src/interaction-engine
	url = https://github.com/robotpt/interaction-engine
[submodule "src/fitbit-client"]
	path = src/fitbit-client
	url = https://github.com/robotpt/fitbit-client
